@font-face {
  font-family: roadRage;
  src: url(./font/indieground_road_rage/road_rage.otf);
}

@font-face {
  font-family: goodTimes;
  src: url(./font/good_times/good_times_rg.ttf);
}

@font-face {
  font-family: neon80s;
  src: url(./font/downlink/downlink.otf);
}

body {
  background-image: url('./pictures/background.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1550px 800px;
}

#navigation {
  text-align: right;
}

#navigation li {
  display: inline-block;
  color: #ff37d8;
  padding: 5px;
}

.btn-outline-light:hover {
  background-color: rgba(255, 55, 216, 0.7) !important;
  color: #fff !important;
  color: rgba(0, 0, 0, 0.9) !important;
}

.btn-outline-light {
  color: #ff37d8 !important;
  border: 2px solid #ff37d8 !important;
  font-size: 25px !important;
  font-family: goodTimes !important;
  /* font-family: neon80s !important; */
}

#home h1 {
  font-size: 80px;
  font-family: roadRage;
  color: #ff37d8;
  padding-left: 50px;
}

#home h2 {
  font-size: 30px;
  font-family: goodTimes;
  /* font-family: neon80s; */
  color: #ff37d8;
  padding-left: 80px;
  word-spacing: 5px;
}

#home img {
  padding-left: 80px;
  color: #ff37d8;
  width: 450px;
}

#about {
  color: #c7a599;
  font-size: 20px;
  width: 1020px;
  padding: 10px;
  background-color: rgb(34, 30, 89, 0.4);
  border-radius: 10px;
  margin: 0 auto;
  font-family: neon80s;
}

#about h1 {
  font-family: roadRage;
  font-size: 40px;
  color: #ff37d8;
  font-style: normal;
}

span {
  color: #ff37d8;
}

#contactLink {
  color: #ff37d8;
}

#contactLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ff37d8;
}

#myWork {
  color: #c7a599;
  font-size: 20px;
  padding: 10px;
  font-family: neon80s;
}

#myWork h1 {
  font-family: roadRage;
  font-size: 40px;
  color: #ff37d8;
  font-style: normal;
}

.description {
  width: 700px;
  float: left;
}

.grid {
  display: grid;
  grid-template: 80px repeat(3, 60px) / 200px 580px;
  text-align: left;
  float: right;
}

.grid,
#gridHead {
  grid-column: 1 / span 2;
}

#gridHead {
  font-family: goodTimes;
  color: #c7a599;
}

.firstColumn {
  color: #ff37d8;
  font-family: goodTimes;
}

.projects {
  clear: both;
  padding-top: 40px;
}

.prHead {
  font-family: goodTimes;
  color: #ff37d8;
}

#contactMe h1 {
  font-family: roadRage;
  font-size: 40px;
  color: #ff37d8;
  font-style: normal;
}

#contactMe h2 {
  font-family: goodTimes;
  color: #c7a599;
  padding-bottom: 20px;
  text-align: center;
}

#contactForm div {
  justify-content: center !important;
}

.form-control {
  background-color: rgba(255, 55, 216, 0.7) !important;
  color: #c7a599 !important;
  font-family: neon80s;
  font-weight: 400 !important;
  font-size: 25px !important;
}

::placeholder {
  color: #c7a599 !important;
  font-family: neon80s;
  font-weight: 400;
  font-size: 25px;
}

#footer {
  position: fixed;
  bottom: 0;
  font-family: roadRage;
  color: #ff37d8;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.icon {
  font-size: 40px;
  display: inline-block;
  padding: 5px;
}

.icon a {
  color: #ff37d8;
}

.icon a:hover {
  color: rgba(255, 55, 216, 0.7) !important;
}
